*{
margin: 0cm;
}
.food {
    background-color: border;
}

li{
    color: blue;

    .food{}
;
    }
}#sample{
    background-color:3rgba(0,0,0,0.27) solid:bisque
    boder-style:
    

    };
}
.first{
    border-style: dotted;
    margin: 10px 20px;
    padding: 30px;
    <p class="first">
}
